{{ define "main" -}}
{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}
<style>
@import url('https://fonts.googleapis.com/css2?family=Average&family=Fjalla+One&display=swap');

.post h1, .post h2{
font-family: 'Fjalla One', sans-serif;
}
.post p {
font-family: 'Average', serif;
}

</style> 
<div class="post">
  <h1>{{ .Title }}</h1>

  {{ if ne .Type "page" -}}
  <div class="post-date">
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> · {{ .ReadingTime }} min read
  </div>
  {{- end }}

  {{ .Content }}
</div>

{{ if (and .Site.DisqusShortname (eq .Params.DisableComments false)) -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}

{{- end }}
